<div *ngFor="let item of list " class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align:center">
  <div *ngFor="let item of list.filter()" class="card-header"> fName + lName
    <img src="http://lorempixel.com/output/business-q-g-100-100-7.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">birthAt.</p>
    <p class="card-text">notes</p>
    <a class="card-text" [routerLink]="['/edit', index]" >more detail</a>
  </div>
</div>
