<div class="card" style="width: 18rem;">
  <div class="card-header"> fName + lName
    <img src="http://lorempixel.com/output/business-q-g-100-100-7.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">birthAt.</p>
    <p class="card-text">notes</p>
    <p class="card-text">phones</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link" [routerLink]="['/app-phone-book']" >return</a>
    <a href="#" class="card-link">edit</a>
  </div>
</div>
